MYSQL_DATABASE=""
DB_HOST=localhost

MYSQL_USER=""
MYSQL_PASSWORD=""

# KELIO PLUGIN
#  SOAP_URL (https://example.kelio.io/open/services/AbsenceFileService)
#  SOAP_USERNAME and SOAP_PASSWORD 
#     use real kelio credentials, to contact the API, this user need specials authorisations, 
#     and this is bad, know that WRONG PASSWORD IN THIS CONFIGUATION MAY TRIGGER THE SECURITY 
#     nothing irreversible for the Kelio local administrator
#

SOAP_URL=
SOAP_USERNAME=
SOAP_PASSWORD= 

# BREVO_API_KEY usualy start with xkeysib- , the server IP must be authorised in Brevo web interface for MAMIE to send mails 
BREVO_API_KEY=

# this plugin send a mail in case of major failure
MAINTAINER_EMAIL=''

